.About {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  font-family: 'Montserrat';
}

.About img {
  max-width: 14rem;
  margin: 1rem;
  max-height: 16rem;
}

.About h1 {
  width: 100%;
  text-align: center;
  margin: 4rem auto;
  color: #665B95;
  font-family: "Caveat";
  font-size: 4em;
}

.About p {
  width: 50%;
  margin: 1rem;
  text-align: justify;
}

@media only screen and (max-width: 375px) {

  .About p {
    width: 90%;
  }

}

@media only screen and (max-width: 575px) {

  .About p {
    width: 90%;
  }

}