.Contact {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
  height: 100%;
  font-family: 'Montserrat';
  margin-bottom: 5rem;
}

.Contact h1 {
  width: 100%;
  margin-bottom: 4rem;
  color: #665B95;
  font-family: "Caveat";
  font-size: 4em;
}

.Contact button {
  margin-right: 1rem;
  font-size: 2em;
  background-color: white;
}

@media only screen and (max-width: 474px) {

  .Contact {
    flex-flow: column nowrap;
  }

}