.BsNav-Brand {
  font-family: 'Montserrat';
  font-weight: bold;
  margin: auto;
  padding: .2em;
}

.BsNav-Brand:hover {
  border-bottom: 2px solid #665B95;
}

.Navbar-Link {
  color: black;
  cursor: pointer;
  margin: auto 1.2em;
  font-size: 1.2em;
  border-bottom: 2px solid #F8F9FA;
  text-align: center;
}

.nav-link {
  color: red;
}

.Navbar-Link:hover {
  border-bottom: 2px solid #665B95;
}


@media only screen and (max-width: 575px) {

  .Navbar-Link:hover {
    border-bottom: 2px solid #F8F9FA;
  }

  .BsNav-Brand:hover {
    border-bottom: 2px solid #F8F9FA;
  }

}